/* #C1C8F8
#8491F1
#465AEA
#182ED5
#112299
#0F1D88 */
* {
  box-sizing: border-box;
  /* border: solid black 1px;*/
}
body{
  /* background-color: #8491f1; */
  background: linear-gradient(to right, rgb(162, 105, 222), rgba(37, 117, 252, 1))
}
#icon{
  display: flex;
  width: 20.5em;
  align-items: center;
  background-color: #465aea;
}
#big-o{
  font-weight: 100;
  font-family: Segoe UI;
  background-color: #465aea;
}
#morre:not(#big-o){
  font-size: 450%;
  background-color: #465aea;

}
#yourself{
  font-family: Helvetica;

}
#icon-desc{
  font-size: 70%;
  width: 9em;
  height: 3em;
  background-color: #465aea;
}
.whiteboard{
  color: white;
  font-family: Ubuntu;
}
.arrow{
  text-decoration: none;
}
.land{
  font-size: x-large;
}
/* .landing{
  background-image: url("../assets/bg-signup.jpg");
  background-repeat: no-repeat;
} */
.fixed{
  position: sticky;
  width: 100%;
  top: 0;
}
.fixed-table{
  position: sticky;
  top: 9.3vh;
  width: 100vw;
  background-color: #465aea;
}