/* #C1C8F8
#8491F1
#465AEA
#182ED5
#112299
#0F1D88 */
* {
  box-sizing: border-box;
  /* border: solid black 1px;*/
  background-color: #1a4761;
}

#icon{
  display: flex;
  width: 18.5em;
  align-items: center;
  /* background: linear-gradient(
    #e8bfb2 ,
    #29beb1 50%
    ); */
}
#big-o{
  font-weight: 100;
  font-family: Segoe UI;
}
#morre:not(#big-o){
  font-size: 350%;
}
#yourself{
  font-family: Helvetica;

}
#icon-desc{
  font-size: 70%;
  width: 9em;
  height: 3em;
}